.form {
  width: 100%;
  margin: auto;

}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
}

.form-container {
  margin: 0;
  margin-bottom: 15px;
}

.primary-button {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  width: 20%;
}

.primary-button2 {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  width: 20%;
}

.app-title {
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-input {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  width: 70%;
  margin-right: 25px;
}